
p, h3, h2, h1,  {
	font-family: 'Open Sans', sans-serif;
}

li {
	font-family: 'Roboto', sans-serif;
	float:left;
display:inline-block;
padding:50px 40px;
margin-left:200px;
}

.header {
	background-color:#FCF8ED;
padding: 10px 15px;
font-family: 'Open Sans', sans-serif;
}

a:hover{
	color: #F1FFFA;
}

body{
	text-align: center;

}

.home{
	background-color: #FCF8ED;
	padding:20px 20px;
}

p{
	color:#474747;
}
.lhead{
	background-color:#DAD1F0;
	padding:50px 50px;
}
.ahead{
	background-color:#FB9489;
	padding:50px 50px;
}

.khead{
	background-color:#CDF4F0;
	padding:50px 50px;
}


