
p, h3, h2, h1,  {
	font-family: 'Roboto', sans-serif;
 text-align: center;
}

li {
	font-family: 'Roboto', sans-serif;
	float:left;
display:inline-block;
padding:50px 40px;
margin-left:200px;
}

.header {
	background-color:#FCF8ED;
padding: 10px 15px;
font-family: 'Open Sans', sans-serif;
}

a:hover{
	color: #F1FFFA;
}