
p{font-family: 'Open Sans', sans-serif;

}

li{font-family: 'Open Sans', sans-serif;
	float:left;
display:inline-block;
padding:30px 40px;
margin-left:40px;
}

first palate
0C0C0C
F6F4D2
CBDFBD
F19C79
F19C79

second
ECEBE4
222222
FAB3B3
C5D9BF
FFE099

color cordinated
C5DCA0
891A1C
222222
9DD1FB
684488

font 
railway